
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">



<div class="row">
    <div class="col-sm-2" style="color:black;">
        Customer Name
    </div>
    <div class="col-sm-4">
        <select class="form-control rounded rounded-1" style="border-radius:0% !important">
            <option value="">--Select Customer Name--</option>
            @foreach (var customerData in Model.CustomerList)
            {
                <option value="@customerData.Value">@customerData.Text</option>
            }
        </select>
    </div>

</div>
<div class="row mt-4">
    <div class="col-sm-2" style="color:black;">
        Order Date
    </div>
    <div class="col-sm-4">
        <input type="date" class="form-control" style="border-radius:0% !important" />
    </div>
</div>
<div class="col-sm-2">
    <button class="btn btn-primary" id="Approduct">Add Product</button>
</div>
<div class="row mt-2">
    <table class="table table-bordered p-0" style="font-size:12px;" id="tbl">
        <thead style="background: #F5CEEC;">
            <tr style="color:black;">
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblRow">
            @*<tr style="background: #F5CEEC;color:black;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span><b id="totalItemPrice"></b></span>
                    </td>
                </tr>*@
        </tbody>
    </table>
    <div class="col-sm-2" style="display:none;" id="btnSave">
        <button class="btn btn-primary">SAVE</button>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalAddProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel" style="text-align:center !important;">Add Product Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Product/AddProduct">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary text-light w-25 me-2 ">Product Name</span>
                        <input type="text" name="ProductName" required class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary text-light w-25 me-2">Price</span>
                        <input type="text" name="Price" required class="form-control" />
                    </div>
                    <br />
                    <button type="submit" class="btn bg-primary text-light">SAVE</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        var defaultId = 1;
        $("#Approduct").click(function () {
            $.ajax({
                url: "/OrderItem/GetAllProduct",
                method: "get",
                dataType: "json",
                success: function (data) {
                    var product = $.parseJSON(data);
                    $("#tblRow").append("<tr id='remove_" + defaultId + "'><td><select id='item_" + defaultId + "' class='form-control selectItem selecproduct' style='border-radius: 0 % !important'><option>--Select Itme--</option></select></td><td><input type='number' id='qut_" + defaultId + "' onkeyup='GetValue(" + defaultId + ")' class='form-control'style='border-radius: 0 % !important'></td><td><input type='text' readonly id='price_" + defaultId + "' readonly class='form-control'style='border-radius: 0 % !important'></td><td><input type='number' readonly id='totalPrice_" + defaultId + "' class='form-control'style='border-radius: 0 % !important'></td><td><button onclick='RemoveItem(" + defaultId + ")' class = 'btn btn-danger'>Remove</button></td></tr>");
                    $(product).each(function (index, value) {
                        $("#item_" + defaultId).append("<option value='" + value.ProductId + "'>" + value.ProductName + "</option>")
                    });
                    $("#btnSave").css("display", "block");

                    $("#item_" + defaultId).change(function () {
                        var id = this.value;
                        var data = $(this).attr("id");
                        var cid = data.split("_").pop()
                        /*alert(cid)*/
                        defaultId = cid;
                        /*alert(defaultId)*/
                        $.ajax({
                            url: "/OrderItem/GetProduct/" + id,
                            method: "post",
                            dataType: "json",
                            success: function (data) {
                                var price = $.parseJSON(data);
                                var itemPrice = price.Price;

                                console.log($("#price_" + defaultId).val())
                                $("#price_" + defaultId).val(parseInt(itemPrice));

                                console.log($("#price_" + defaultId).val())
                                $("#totalPrice_" + defaultId).val(itemPrice);
                            },
                            error: function () {
                                console.log("error")
                            }

                        })
                    })
                    $("#qut" + defaultId).change(function () {
                        var quantity = parseInt($("#qut_" + defaultId).val());
                        var itemPrice = parseInt($("#price_" + defaultId).val());
                        var totalPrice = quantity * itemPrice;
                        $("#totalPrice_" + defaultId).val(totalPrice);
                    })
                },
                error: function () {
                    console.log("Error")
                }
            })
            defaultId = defaultId + 1
        })
    })
    function GetValue(id) {

        var quantity = parseInt($("#qut_" + id).val());
        var itemPrice = parseInt($("#price_" + id).val());
        var totalPrice = quantity * itemPrice;
        $("#totalPrice_" + id).val(totalPrice);
    }
    function RemoveItem(id) {
        $("#remove_" + id).remove()
    }
</script>