
@{
    ViewBag.Title = "AddCustomer";
}

<div class="row mt-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <form method="post">
            <div class="input-group mb-3">
                <span class="input-group-text bg-gradient-primary text-light ">Customer Name</span>
                <input type="text" name="CustomerName" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-gradient-primary text-light w-25">Address</span>
                <input type="text" name="Address" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-gradient-primary text-light">Created Date</span>
                <input type="date" name="CreatedDate" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn bg-gradient-primary">SAVE</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>

